<div class="container">
    <div class="header"><img src="/assets/pencil-n-paper_small.jpg" alt="Small Logo" name="Insert_logo" width="180" height="90" id="Small_logo" style="background-color: #C6D580; display:block;" />
    <!-- end .header --></div>

    <div class="sidebar1">
        <ul class="nav">
          <li><a href="\">Home</a></li>
          <li><a href="../to_dos">My Planner</a></li>
          <li><a href="../goals">Goals Sheet</a></li>
          <li><a href="#">Contact Us</a></li>
      </ul>
    <!-- end .sidebar1 --></div>
    <div class="content" >
      <p id="notice"><%= notice %></p>
      <h1>Listing Signups</h1>

      <table>
        <thead>
          <tr>
            <th>Screen name</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Confirm password</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @signups.each do |signup| %>
            <tr>
              <td><%= signup.screen_name %></td>
              <td><%= signup.first_name %></td>
              <td><%= signup.last_name %></td>
              <td><%= signup.email %></td>
              <td><%= signup.password %></td>
              <td><%= signup.confirm_password %></td>
              <td><%= link_to 'Show', signup %></td>
              <td><%= link_to 'Edit', edit_signup_path(signup) %></td>
              <td><%= link_to 'Destroy', signup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'New Signup', new_signup_path %>
    <!-- end .content --></div>

    <div class="footer">
        <p><strong>© 2016 Mak Survival Edition.  All rights reserved</strong></p>
    <!-- end .footer --></div>
<!-- end .container --></div>

