<p id="notice"><%= notice %></p>

<p>
  <strong>Requirement:</strong>
  <%= @step.requirement %>
</p>

<p>
  <strong>Completiontime:</strong>
  <%= @step.completionTime %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
