<div class="content">
  <p id="notice"><%= notice %></p>
  <h1 style="line-height:.001">
  <center>
  <strong>
  <%= @goal.Goal %>
  </strong>
  </center>
  </h1>
  <p style="line-height:.7">
    <center>
    <font size="1.3">
    Date Created: <%= @goal.Date %><br>
    Due Date: <%= @goal.DueDate %>
    </font>
    </center>
  </p>
  <h2 style="line-height:.1">
  <strong>Description:</strong>
  </h2>
  <p>
    <font size="2"><%= @goal.Description %></font>
  </p>
  <p>
    <h2>
    <strong>Steps:</strong>
    </h2>
    <p>
      <ol>
        <% @goal.steps.each do |step| %>
        <% if @goal.id == step.goal_id %>
        <li>
          <p>
            <%= step.requirement %> (Estimated Time: <%= step.completionTime %>) <%= link_to 'Show', goal_step_path(@goal, step.id) %>
          </p>
        </li>
        <% end %>
        <% end %>
      </ul>
    </p>
    
    <%= link_to 'Edit', edit_goal_path(@goal) %> |
    <%= link_to 'Back', goals_path %>
    <!-- end .content -->
  </div>